.sl-nav {
    position: relative;
    width: 100%;
    min-height: 64px;
    margin: 0 auto;
}

.sl-nav .nav-label {
    margin-left: 40px;
    height: 64px;
    line-height: 64px;
    color: white;
    font-size: 30px;
}

@media (max-width: 500px) {
    .sl-nav {
        display: none;
    }
}
