.sl-editor {
    display: grid;
}

.sl-editor .renderer {
    grid-area: view;
}

.sl-editor .workflow {
    grid-area: work;
}

.sl-editor .pipeline {
    grid-area: pipe;
}

.sl-editor .code {
    grid-area: editor;
}

@media (max-width: 799.98px) {
    .sl-editor {
        grid-template-areas:
                "view view"
                "editor editor"
                "pipe work";
        grid-template-columns: 1fr;
    }
}

@media (min-width: 800px) {
    .sl-editor {
        grid-template-areas:
            "view view editor"
            "pipe work editor";
        grid-template-columns: 0.4fr 1.7fr 2.3fr;
        grid-template-rows: max(28vw, 45%);
        margin: 20px 25px 10px 25px;
        max-height: calc(100vh - 85px);
    }
}
