.sl-editor {
    display: grid;
    grid-gap: 12px;
    overflow: hidden
}

.sl-editor .renderer {
    grid-area: view;
}

.sl-editor .workflow {
    grid-area: work;
}

.sl-editor .pipeline {
    grid-area: pipe;
}

.sl-editor .code {
    grid-area: editor;
}

@media (max-width: 479.98px) {
    .sl-editor {
        grid-template-areas:
            "pipe work"
            "view view"
            "editor editor";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: clamp(150px, 25vh, 250px) clamp(150px, 25vh, 250px) 100vh;
    }
}

@media (min-width: 480px) and (max-width: 799.98px) {
    .sl-editor {
        grid-template-areas:
            "view pipe work"
            "editor editor editor";
        grid-template-columns: 2fr 0.4fr 1.7fr;
    }
}

@media (min-width: 800px) {
    .sl-editor {
        grid-template-areas:
            "view view editor"
            "pipe work editor";
        grid-template-columns: 0.4fr 1.7fr 2.3fr;
        grid-template-rows: max(28vw, 45%);
        margin: 20px 25px 10px 25px;
        max-height: calc(100vh - 85px);
    }
}
