.sl-editor {
    display: grid;
    grid-template-areas:
            "view view title"
            "view view editor"
            "pipe work editor";
    grid-template-columns: 0.4fr 1.7fr 2.3fr;
    grid-template-rows: 30px max(28vw, 45%);
    margin: 25px;
}

.sl-editor .renderer {
    grid-area: view;
}

.sl-editor .workflow {
    grid-area: work;
}

.sl-editor .pipeline {
    grid-area: pipe;
}

.sl-editor .title {
    grid-area: title;
}

.sl-editor .code {
    grid-area: editor;
}

@media (max-width: 799.98px) {
    .sl-editor {
        grid-template-areas:
                "view"
                "title"
                "editor"
                "work"
                "info";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
