/**
 * Filter Bar
 */
.sl-nav__filter {
    display: flex;
    flex-direction: column;
    background: var(--bg_1);
}

.sl-nav__filter .topic-filter {
    display: flex;
    flex-wrap: wrap;
    max-height: 42px;
    height: 26%;
    overflow: hidden;
    align-items: center;
}

.sl-nav__filter .tag-filter {
    display: flex;
    flex-wrap: wrap;
    max-height: 42px;
    height: 26%;
    overflow: hidden;
    align-items: center;
}

.sl-nav__filter .filter-item {
    display: inline-block;
    flex-grow: 1;
    box-sizing: content-box;
    margin: 3px 6px;
    border: 1px solid var(--line_light);
    border-radius: 6px;
    color: var(--text_white);
    text-align: center;
    align-items: center;
    white-space: nowrap;
    font-weight: 400;
    line-height: 29px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

@media (max-width: 399.98px) {
    .sl-nav__filter {
        width: calc(100% - 10px);
        padding: 6px 5px 10px 5px;
    }

    .sl-nav__filter .topic-filter .filter-item {
        padding: 2px 15px;
    }

    .sl-nav__filter .tag-filter .filter-item {
        padding: 2px 3px;
    }
}

@media (min-width: 400px) and (max-width: 799.98px) {
    .sl-nav__filter {
        width: calc(100% - 30px);
        padding: 8px 15px 10px 15px;
    }

    .sl-nav__filter .topic-filter .filter-item {
        padding: 2px 15px;
    }

    .sl-nav__filter .tag-filter .filter-item {
        padding: 2px 6px;
    }
}

@media (min-width: 800px) and (max-width: 1099.98px) {
    .sl-nav__filter {
        width: calc(100% - 70px);
        padding: 10px 35px 10px 35px;
    }

    .sl-nav__filter .topic-filter .filter-item {
        padding: 2px 20px;
    }

    .sl-nav__filter .tag-filter .filter-item {
        padding: 2px 12px;
    }
}

@media (min-width: 1100px) {
    .sl-nav__filter {
        max-width: 1300px;
        width: 94%;
        padding: 12px 3% 10px 3%;
        margin: 0 auto;
    }

    .sl-nav__filter .topic-filter .filter-item {
        padding: 2px 30px;
    }

    .sl-nav__filter .tag-filter .filter-item {
        padding: 2px 18px;
    }
}
