/**
 * Left Entry
 */
.sl-nav .left-entry {
    display: flex;
    align-items: center;
}

.sl-nav .left-entry-item {
    display: block;
    flex-shrink: 0;
    cursor: pointer;
}

.sl-nav .home-entry {
    height: 64px;
    line-height: 64px;
    color: #fff;
    font-size: 30px;
}

@media (max-width: 799.98px) {
    .sl-nav .left-entry {
        padding-inline: 0 16px;
    }

    .sl-nav .left-entry-item:first-child {
        display: none;
    }
}

@media (min-width: 800px) {
    .sl-nav .left-entry {
        padding-inline: 26px 45px;
    }

    .sl-nav .left-entry-item:last-child {
        display: none;
    }
}

/** Slide down case */
.sl-nav .slide-down .left-entry .home-entry {
    color: var(--text1);
}
