<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/highcharts/highcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dot/doT.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/art-template/lib/template-web.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/juicer/build/juicer-min.js"></script>
    <title>Title</title>
</head>
<body>

<script>
    var length = 1000;
    var number = 1000;
</script>

<h1>Template Rendering Test</h1>
<p>
    <button id="buttonTest" style="padding: 5px;">Start Test »»»</button>
    <span id="log" style="font-size:12px"></span>
</p>
<div id="container" style="min-width: 400px; margin: 0 auto"></div>
<div>

    <!-- myRenderer -->
    <script id="engine" type="text/tmpl">
    <ul>
        [: for (var val, i = 0, l = this.list.length; i < l; i ++) { :]
            [: val = this.list[i]; :]
            <li>User: [=:val.user:]/ Site：[=:val.site:]</li>
        [: } :]
    </ul>
    </script>

    <!-- artTemplate -->
    <script id="template" type="text/tmpl">
    <ul>
        <% for (i = 0, l = list.length; i < l; i ++) { %>
            <li>User: <%=#list[i].user%>/ Site：<%=#list[i].site%></li>
        <% } %>
    </ul>
    </script>

    <!--juicer -->
    <script id="juicer" type="text/tmpl">
    <ul>
        {@each list as val}
            <li>User: $${val.user}/ Site：$${val.site}</li>
        {@/each}
    </ul>
    </script>

    <!-- doT -->
    <script id="doT" type="text/tmpl">
    <ul>
        {{ for (var val, i = 0, l = it.list.length; i < l; i ++) { }}
            {{ val = it.list; }}
            <li>User: {{=val[i].user}}/ Site：{{=val[i].site}}</li>
        {{ } }}
    </ul>
    </script>

    <!-- Handlebars -->
    <script id="Handlebars" type="text/tmpl">
    <ul>
        {{#list}}
            <li>User: {{{user}}}/ Site：{{{site}}}</li>
        {{/list}}
    </ul>
    </script>

</div>


<script>
    let data = { list: [] };

    function myRenderer(tpl, data){
        const parse = (content) => {
            let tpls = content.split('[:'), code = "var $=''";
            for (let t = 0; t < tpls.length; t++) {
                let part = tpls[t].split(':]');
                if (t != 0) code += '=' == part[0].charAt(0) ? "+(" + part[0].slice(1) + ")" : ";" + part[0].replace(/\r\n/g, '') + "$=$";
                code += "+'" + part[part.length-1].replace(/'/g,"\\'").replace(/\r\n/g, '\\n').replace(/\n/g, '\\n').replace(/\r/g, '\\n') + "'";
            }
            return code + ";return $;";
        };

        const fn = (data) => {
            let key = Object.keys(data);
            fn.$ = fn.$ ?? parse(tpl);
            fn.$$ = fn.$$ || new Function(key, fn.$);
            return fn.$$.apply(data, key.map(i => data[i]));
        }
        return data ? fn(data) : fn;
    }

    let testList = [
        {
            name: "myRenderer",
            tester: function () {
                const source = document.getElementById("engine").innerHTML;
                let fn = myRenderer(source);
                for (let i = 0; i < number; i++) {
                    fn(data);
                }
            }
        },
        {
            name: "artTemplate",
            tester: function () {
                const source = document.getElementById("template").innerHTML;
                let fn = template.compile(source);
                artRender = fn
                for (let i = 0; i < number; i++) {
                    fn(data);
                }
            }
        },
        {
            name: "juicer",
            tester: function () {
                juicer.set({
                    "errorhandling": true,
                    "cache": true
                });
                const source = document.getElementById("juicer").innerHTML;
                let fn = juicer(source);
                for (var i = 0; i < number; i++) {
                    fn.render(data);
                }
            }
        },
        {
            name: "doT",
            tester: function () {
                const source = document.getElementById("doT").innerHTML;
                let doTtmpl = doT.template(source);
                for (let i = 0; i < number; i++) {
                    doTtmpl(data);
                }
            }
        },
        {
            name: "Handlebars",
            tester: function () {
                const source = document.getElementById("Handlebars").innerHTML;
                let fn = Handlebars.compile(source);
                for (let i = 0; i < number; i++) {
                    fn(data);
                }
            }
        },
    ];

    const startTest = () => {

        class Timer {
            constructor() { this.startTime = +new Date; }
            stop() { return +new Date - this.startTime; }
        }

        let colors = Highcharts.getOptions().colors;
        let categories = [];

        for (let i = 0; i < testList.length; i++)
            categories.push(testList[i].name);

        console.log(categories.length * 120)

        const chart = new Highcharts.Chart("container", {
            chart: {
                height: categories.length * 80,
                type: "bar"
            },
            title: {
                text: "Template Engine Benchmark"
            },
            subtitle: {
                text: `${length} data × ${number} rendering`
            },
            xAxis: {
                categories: categories,
                labels: {
                    align: "right",
                    style: {
                        fontSize: "12px",
                        fontFamily: "Verdana, sans-serif"
                    }
                }
            },
            yAxis: {
                min: 0,
                title: { text: "Time(ms)" }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () { return `<b>${this.x}</b><br/>${this.y}ms`; }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        formatter: function () { return this.y + "ms"; }
                    }
                }
            },
            series: [{
                data: []
            }]

        });

        const log = (message) => document.getElementById("log").innerHTML = message;

        const tester = (target) => {
            let time = new Timer();
            target.tester();
            let endTime = time.stop();

            chart.series[0].addPoint({ color: colors.shift(), y: endTime });

            if (!testList.length) { log(""); return; }

            target = testList.shift();

            log("Testing: " + target.name + "..");

            setTimeout(() => tester(target), 501);
        };
        let target = testList.shift();
        log("Testing: " + target.name + "..");
        tester(target);
    };
</script>

<script>
    let reload = true;
    window.onload = () => {
        const btn = document.getElementById("buttonTest");
        btn.onclick = () => {
            if (reload) {
                startTest();
                reload = false;
            } else {
                location.reload();
            }
        }
        setTimeout(() => btn.click(), 501);
    };
</script>

</body>
</html>
