/* search */

.sl-nav .search-panel {
    width: calc(100% - 2px);
    max-height: 612px;
    overflow-y: auto;
    background: var(--bg1);
    border: 1px solid var(--line_regular);
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 13px 0 16px;
}

/* user */
.sl-nav .avatar-container {

}


.sl-nav .userinfo-container {

}

.sl-nav .user-entry {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.sl-nav .avatar-container .user-entry {

}

.sl-nav .avatar-container.large-avatar .user-entry-large {
    animation: avatarFadeLarge 0.35s both;
}

.sl-nav .avatar {

}

.sl-nav .user-entry-large {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    display: block;
    border-radius: 50%;
    transform-origin: top left;
}

@keyframes avatarFadeLarge {
    0% {
        opacity: 0;
        transform: scale(.4) translateY(-2px) translate(3px)
    }
    30% {
        opacity: 1
    }
    to {
        opacity: 1;
        transform: scale(1) translate(-36px, 10px)
    }
}

@keyframes avatarFadeSmall {
    0% {
        transform: scale(1) translate(-36px, 10px)
    }
    60% {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: scale(.4) translateY(-2px) translate(3px)
    }
}