.sl-nav {
    position: relative;
    width: 100%;
    min-height: 64px;
    margin: 0 auto;
}

/**
 * Topper Bar
 */
.sl-nav > .sl-nav_bar {
    position: absolute;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    width: calc(100% - 48px);
    height: 64px;
}

/* Left Entry */
.sl-nav .left-entry {
    display: flex;
    align-items: center;
}

.sl-nav .left-entry-item {
    display: block;
    flex-shrink: 0;
    cursor: pointer;
}

.sl-nav .home-entry {
    height: 64px;
    line-height: 64px;
    color: #fff;
    font-size: 30px;
}

@media (max-width: 799.98px) {
    .sl-nav .left-entry {
        padding-inline: 0 16px;
    }

    .sl-nav .left-entry-item:first-child {
        display: none;
    }
}

@media (min-width: 800px) {
    .sl-nav .left-entry {
        padding-inline: 26px 45px;
    }

    .sl-nav .left-entry-item:last-child {
        display: none;
    }
}

/* Center Entry */
.sl-nav .center-container {
    flex: 1 auto;
    height: 38px;
}

.sl-nav .bar-outer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.sl-nav .container-extend {
    position: relative;
    margin: 0 auto;
    min-width: 181px;
    max-width: 500px;
}

.sl-nav .container-extend.is-focus {
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    border-radius: 8px;
}

.sl-nav .container-extend.is-focus .nav-search-content {
    background-color: var(--graph_bg_thick);
}

#nav-search {
    display: flex;
    align-items: center;
    padding: 0 48px 0 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    line-height: 38px;
    border: 1px solid var(--line_regular);
    height: 38px;
    background-color: var(--graph_bg_regular);
    opacity: .9;
    transition: background-color .3s
}

#nav-search.is-focus {
    border: 1px solid var(--line_regular);
    border-bottom: none;
    background: var(--bg1);
    opacity: .97
}

#nav-search:hover {
    background-color: var(--bg1);
    opacity: 1
}

#nav-search > .nav-search-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 8px;
    width: 100%;
    height: 28px;
    border: 2px solid transparent;
    border-radius: 6px;
}

#nav-search > .nav-search-content > .nav-search-input {
    flex: 1;
    overflow: hidden;
    padding-right: 8px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--text2);
    font-size: 14px;
    line-height: 20px;
}

#nav-search > .nav-search-content > .nav-search-input:focus {
    outline: none;
    background: var(--graph_bg_thick);
    color: var(--text1);
}

#nav-search > .nav-search-content > .nav-search-clean {
    width: 16px;
    height: 16px;
    right: 10px;
    cursor: pointer;
    visibility: hidden;
}

#nav-search > .nav-search-content svg {
    vertical-align: middle;
    position: absolute;
    color: var(--graph_weak);
}

#nav-search.is-focus > .nav-search-content > .nav-search-clean {
    visibility: inherit;
}

#nav-search > .nav-search-btn {
    position: absolute;
    top: 3px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    color: var(--text1);
    line-height: 32px;
    cursor: pointer;
    transition: background-color .3s;
}

@media (max-width: 799.98px) {
    .sl-nav .center-container {
        max-width: 350px;
    }
}

/* Right Entry */
.sl-nav .right-entry {
    display: flex;
    align-items: center;
}

.sl-nav .right-entry-item {
    display: block;
    flex-shrink: 0;
    margin-right: 4px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}

.sl-nav .right-entry-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 0;
    min-width: 50px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    background-color: transparent;
}

.sl-nav .right-entry-icon {
    margin-bottom: 2px;
    color: #fff;
}

.sl-nav .right-entry-text {
    color: #fff;
}

.sl-nav .login-entry {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--brand_blue);
    background: #f6f6f6;
    text-align: center;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 36px;
}

.sl-nav .upload-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 95px;
    height: 34px;
    border-radius: 8px;
    background: linear-gradient(56deg, #a73dba 0%, #ea4b74 100%);
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .3s;
}

@media (max-width: 479.98px) {
    .sl-nav .right-entry {
        padding-inline: 15px 0;
    }

    .sl-nav .right-entry-item{
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 799.98px) {
    .sl-nav .right-entry {
        padding-inline: 5px 0;
    }

    .sl-nav .right-entry-item:nth-child(1),
    .sl-nav .right-entry-item:nth-child(3) {
        display: none;
    }

    .sl-nav .right-entry-icon {
        width: 25px;
        height: 32px;
    }

    .sl-nav .right-entry-text {
        display: none;
    }

    .sl-nav .upload-entry {
        margin-left: 0;
        width: 60px;
        height: 32px;
    }

    .sl-nav .upload-entry-text {
        display: none;
    }
}

@media (min-width: 800px) {
    .sl-nav .right-entry {
        padding-inline: 15px 0;
    }

    .sl-nav .upload-entry-icon {
        margin-right: 5px;
    }

    .sl-nav .upload-entry-text {
        font-weight: bolder;
    }
}

/* Slide down case */
.sl-nav .slide-down {
    position: fixed;
    top: 0;
    animation: headerSlideDown .3s linear forwards;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    background: var(--bg1_float);
}

@keyframes headerSlideDown {
    0% { opacity: 0 }
    to { opacity: 1 }
}

.sl-nav .slide-down .left-entry .home-entry {
    color: var(--text1);
}

.sl-nav .slide-down .right-entry .right-entry-icon {
    color: var(--text1);
}

.sl-nav .slide-down .right-entry .right-entry-text {
    color: var(--text2);
}

/**
 * Background Banner
 */
.sl-nav > .sl-nav_banner {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    min-height: 155px;
    height: 9.5vw;
    max-height: 240px;
    background-image: url("../../img/home/sponza.jpg");
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/**
 * Filter Bar
 */
.sl-nav > .sl-nav_filter {
    display: flex;
    flex-direction: column;
    background: var(--bg1);
    width: calc(100% - 128px);
    padding: 0 64px;
}

.sl-nav .topic-filter {
    display: flex;
    height: 26%;
    align-items: center;
    padding: 12px 0 5px;
}

.sl-nav .tag-filter {
    display: flex;
    height: 26%;
    align-items: center;
    padding: 5px 0 12px;
}

.sl-nav .filter-item {
    display: inline-block;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    margin: 0 6px;
    border: 1px solid var(--line_light);
    border-radius: 6px;
    background-color: var(--graph_bg_thin);
    color: var(--text2);
    text-align: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 29px;
    transition: background-color .3s,color .3s;
    cursor: pointer;
}