.sl-layout__holder {
    margin: 10px auto;
    padding-top: 70px;
    max-width: 1400px;
    min-width: 380px;
    width: 100%;
    display: grid;
    grid-gap: clamp(6px, 1vw, 12px);
    overflow: hidden;
}

@media (max-width: 499.98px) {
    .sl-layout__holder {
        padding: 40px 0 0 0;
    }

    .sl-layout__holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) and (max-width: 799.98px) {
    .sl-layout__holder {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 800px) and (max-width: 1099.98px) {
    .sl-layout__holder {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1100px) {
    .sl-layout__holder {
        grid-template-columns: repeat(5, 1fr);
    }
}
