.sl-layout .sl-recommend {
    margin: 10px auto;
    max-width: 1400px;
    min-width: 380px;
    width: 100%;
    display: grid;
    grid-gap: clamp(6px, 1vw, 12px);
    overflow: hidden;
}

.sl-layout .sl-recommend .shader-info.top {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border: none;
}

.sl-layout .shader-info .shader-preview img {
    border-radius: 12px;
    width: 100%;
}

.sl-layout .sl-recommend .shader-info.top a {
    cursor: inherit;
}

.sl-layout .sl-recommend .shader-info.top .shader-name {
    max-width: 220px;
    font-size: large;
    margin: 0.5rem 0 0 0;
}

.sl-layout .sl-recommend .shader-info.top .shader-user {
    flex: 2;
    max-width: 220px;
    font-size: medium;
    text-align: right;
    margin: 2rem 0.6rem 0 auto;
}

@media (max-width: 499.98px) {
    .sl-layout .sl-recommend {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .sl-layout .sl-recommend .shader-info:nth-child(1n+6) {
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 799.98px) {
    .sl-layout .sl-recommend {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sl-layout .sl-recommend .shader-info:nth-child(1n+4) {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1099.98px) {
    .sl-layout .sl-recommend {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sl-layout .sl-recommend .shader-info:nth-child(1n+6) {
        display: none;
    }
}

@media (min-width: 1100px) {
    .sl-layout .sl-recommend {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sl-layout .sl-recommend .shader-info:nth-child(1n+8) {
        display: none;
    }
}
