.sl-nav__bar .center-container {
    flex: 1 auto;
    height: 36px;
}

.sl-nav__bar .container-extend.is-focus {
    border-radius: 12px;
}

.sl-nav__bar .search-panel {
    padding: 8px 0 16px;
    border-radius: 0 0 12px 12px;
}

.sl-nav__bar #nav-search {
    line-height: 34px;
    height: 34px;
}

.sl-nav__bar #nav-search .nav-search-content {
    height: 23px;
    border-radius: 8px;
}

.sl-nav__bar #nav-search .nav-search-btn {
    top: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
