:host {
    display: block;
    width: 100%;
    min-height: 64px;
    margin: 0 auto;
}

/**
 * Topper Bar
 */
.sl-nav__bar {
    position: absolute;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    width: calc(100% - 48px);
    height: 64px;
}

/** Slide down case */
.sl-nav__bar.slide-down {
    position: fixed;
    top: 0;
    animation: headerSlideDown .3s linear forwards;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    background: var(--bg_1);
}

@keyframes headerSlideDown {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
