.sl-nav__bar .user-entry-mini {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.sl-nav__bar .user-entry-mini picture {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    line-height: 1;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.sl-nav__bar .user-entry-mini picture > img {
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    object-fit: inherit;
    border: 2px solid #fff;
    border-radius: 50%;
}

.sl-nav__bar .user-entry-large {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    display: block;
    border-radius: 50%;
    transform-origin: top left;
}

.sl-nav__bar .avatar {
    display: block;
    position: relative;
    box-sizing: content-box;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.sl-nav__bar .avatar img {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    will-change: transform;
}

.sl-nav__bar .avatar-container.small-avatar .user-entry-mini {
    animation: fadeIn 0.6s both
}

.sl-nav__bar .avatar-container.small-avatar .user-entry-large {
    animation: avatarFadeSmall 0.35s both;
}

.sl-nav__bar .avatar-container.large-avatar .user-entry-mini {
    animation: fadeOut 0.3s both
}

.sl-nav__bar .avatar-container.large-avatar .user-entry-large {
    animation: avatarFadeLarge 0.35s both;
}

@keyframes avatarFadeLarge {
    0% {
        opacity: 0;
        transform: scale(.4) translateY(-2px) translate(3px)
    }
    30% {
        opacity: 1
    }
    to {
        opacity: 1;
        transform: scale(1) translate(-36px, 10px)
    }
}

@keyframes avatarFadeSmall {
    0% {
        transform: scale(1) translate(-36px, 10px)
    }
    60% {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: scale(.4) translateY(-2px) translate(3px)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.sl-nav .slide-down .right-entry .user-entry-mini picture > img {
    border: 1px solid #aaa;
}

.sl-nav__bar .avatar-bottom {
    position: absolute;
    top: 100%;
    right: 143px;
    transition: 0.3s;
    z-index: 1;
}

.sl-nav__bar .avatar-bottom-transition {
    transform: translateY(5px) !important;
    opacity: 0
}
