/**
 * Center Entry
 */
.sl-nav .center-container {
    flex: 1 auto;
    height: 38px;
}

.sl-nav .bar-outer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
}

.sl-nav .container-extend {
    position: relative;
    margin: 0 auto;
    min-width: 181px;
    max-width: 500px;
}

.sl-nav .container-extend.is-focus {
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    border-radius: 8px;
}

.sl-nav .container-extend.is-focus .nav-search-content {
    background-color: var(--graph_bg_thick);
}

.sl-nav .search-panel {
    width: calc(100% - 2px);
    max-height: 612px;
    overflow-y: auto;
    background: var(--bg_1);
    border: 1px solid var(--line_regular);
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 10px 0 16px;
}

.sl-nav #nav-search {
    display: flex;
    align-items: center;
    padding: 0 48px 0 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    line-height: 38px;
    border: 1px solid var(--line_regular);
    height: 38px;
    background-color: var(--graph_bg_regular);
    opacity: .9;
    transition: background-color .3s
}

.sl-nav #nav-search.is-focus {
    border: 1px solid var(--line_regular);
    border-bottom: none;
    background: var(--bg_1);
    opacity: .97
}

.sl-nav #nav-search:hover {
    background-color: var(--bg_1);
    opacity: 1
}

.sl-nav #nav-search .nav-search-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 8px;
    width: 100%;
    height: 28px;
    border: 2px solid transparent;
    border-radius: 6px;
}

.sl-nav #nav-search .nav-search-content .nav-search-input {
    flex: 1;
    overflow: hidden;
    padding-right: 8px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--text_mid_dark);
    font-size: 14px;
    line-height: 20px;
}

.sl-nav #nav-search .nav-search-content .nav-search-input:focus {
    outline: none;
    background: var(--graph_bg_thick);
    color: var(--text_dark);
}

.sl-nav #nav-search .nav-search-content .nav-search-clean {
    width: 16px;
    height: 16px;
    right: 10px;
    cursor: pointer;
    visibility: hidden;
}

.sl-nav #nav-search .nav-search-content .nav-search-clean img {
    vertical-align: middle;
    position: absolute;
    color: var(--graph_weak);
}

.sl-nav #nav-search .nav-search-content .nav-search-clean img:hover {
    filter: brightness(55%);
}

.sl-nav #nav-search.is-focus .nav-search-content .nav-search-clean {
    visibility: inherit;
}

.sl-nav #nav-search > .nav-search-btn {
    position: absolute;
    top: 3px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    color: var(--text_dark);
    line-height: 32px;
    cursor: pointer;
    transition: background-color .3s;
}

.sl-nav #nav-search > .nav-search-btn:hover {
    background-color: var(--graph_bg_thick);
}

@media (max-width: 799.98px) {
    .sl-nav .center-container {
        max-width: 350px;
    }
}
