/*
 * Right Entry
 */
.sl-nav .right-entry {
    display: flex;
    align-items: center;
}

.sl-nav .right-entry-item {
    display: block;
    flex-shrink: 0;
    margin-right: 4px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
}

.sl-nav .right-entry-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 0;
    min-width: 50px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    background-color: transparent;
}

.sl-nav .right-entry-icon {
    margin-bottom: 2px;
    color: #fff;
}

.sl-nav .right-entry-holder:hover .right-entry-icon {
    animation: jump .3s
}

@keyframes jump {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-3px)
    }
    to {
        transform: translateY(0)
    }
}

.sl-nav .right-entry-text {
    color: #fff;
}

.sl-nav .login-entry {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #00AEEC;
    background: #f6f6f6;
    text-align: center;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 36px;
}

.sl-nav .avatar-container {
    position: relative;
    box-sizing: content-box;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
}

.sl-nav .upload-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 95px;
    height: 34px;
    border-radius: 8px;
    background: linear-gradient(56deg, #a73dba 0%, #ea4b74 100%);
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .3s;
    text-decoration: none;
}

@media (max-width: 479.98px) {
    .sl-nav .right-entry {
        padding-inline: 15px 0;
    }

    .sl-nav .right-entry-item{
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 799.98px) {
    .sl-nav .right-entry {
        padding-inline: 5px 0;
    }

    .sl-nav .right-entry-item:nth-child(1),
    .sl-nav .right-entry-item:nth-child(3) {
        display: none;
    }

    .sl-nav .right-entry-icon {
        width: 25px;
        height: 32px;
    }

    .sl-nav .right-entry-text {
        display: none;
    }

    .sl-nav .upload-entry {
        margin-left: 0;
        width: 60px;
        height: 32px;
    }

    .sl-nav .upload-entry-text {
        display: none;
    }
}

@media (min-width: 800px) {
    .sl-nav .right-entry {
        padding-inline: 15px 0;
    }

    .sl-nav .upload-entry-icon {
        margin-right: 5px;
    }

    .sl-nav .upload-entry-text {
        font-weight: bolder;
    }
}

/** Slide down case */
.sl-nav .slide-down .right-entry .right-entry-icon {
    color: var(--text_dark);
}

.sl-nav .slide-down .right-entry .right-entry-text {
    color: var(--text_mid_dark);
}
