.sl-nav__bar .search-history {
    min-height: 220px;
}

.sl-nav__bar .history-header {
    display: flex;
    line-height: 30px;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 16px 8px;
}

.sl-nav__bar.history-header .title {
    font-weight: bold;
}

.sl-nav__bar .history-header .history-clear {
    color: var(--text_light);
    cursor: pointer;
    font-size: small;
}

.sl-nav__bar .history-header .history-clear:hover {
    color: var(--text_dark);
}

.sl-nav__bar .history-item {
    line-height: 28px;
    margin: 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.sl-nav__bar .history-item:hover {
    border-radius: 4px;
    background-color: var(--graph_bg_thick);
}

.sl-nav__bar .history-item div {
    padding: 0 12px;
}

.sl-nav__bar .search-panel .suggestion-item {
    display: block;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 12px;
    padding: 6px 12px 3px 12px;
    border-bottom: 1px solid var(--line_regular);
}
