.sl-editor__code {
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    height: calc(100vh - 120px + 43px);
}

.sl-editor__code .title {
    line-height: 40px;
    padding: 0 20px 0 20px;
}

.sl-editor__code .post-input {
    overflow: hidden;
    border: none;
    outline: none;
    width: 100%;
    box-shadow: none;
}

.sl-editor__code #panel {
    flex: 1;
    margin: 0 3px 3px 3px;
    height: calc(100% - 120px);
    border-radius: 10px;
}

.sl-editor__code #panel > div {
    height: 100%;
}

@media (min-width: 800px) and (max-width: 1099.98px) {
    .sl-editor__code {
        max-height: 750px;
    }
}

@media (min-width: 1100px) {
    .sl-editor__code {
        max-height: 850px;
    }
}

/* CM internal */
.cm-editor {
    height: 100%;
    border-radius: 5px 5px 12px 12px;
}

.cm-scroller {
    overflow-y: scroll;
}

.cm-scroller::-webkit-scrollbar {
    width: 6px;
    background-color: var(--graph_bg_regular)
}

.cm-scroller::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--graph_weak);
}

.cm-panels.cm-panels-bottom {
    border-radius: 0 0 12px 12px;
}

.cm-editor.cm-focused {
    outline: 1px solid #e6e8e5;
}

.cm-panels-bottom .cm-panel {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    font-size: 14px;
}

.cm-panels-bottom .cm-panel .cm-count {
    margin: 3px 0 0 18px;
}

.cm-panels-bottom .cm-panel .cm-compile {
    margin: 3px 18px 0 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 75px;
    cursor: pointer;
    text-align: center;
}
