.sl-editor__module {
}

.sl-editor__module::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--graph_bg_regular)
}

.sl-editor__module::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--graph_weak);
}

@media (max-width: 1099.98px) {
    .sl-editor__module {
        overflow-x: scroll;
    }
}

@media (min-width: 1100px) and (max-height: 749.98px) {
    .sl-editor__module {
        overflow-y: scroll;
    }
}

@media (min-width: 1100px) and (min-height: 750px) {
    .sl-editor__module {
        overflow-x: scroll;
    }
}
