.sl-editor .renderer {
    display: flex;
    margin: 0 12px 12px 12px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--graph_weak);
}

.sl-editor #render-canvas {
    border-radius: 10px 10px 0 0;
    min-width: 200px;
    width: 100%;
    height: 100%;
}

.sl-editor .render-info {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 0 0 12px 12px;
}

.sl-editor .renderer-state {
    width: 25px;
    height: 25px;
    padding: 2px 15px 2px 15px;
    fill: var(--graph_icon);
}

.sl-editor .renderer-time {
    padding: 5px 20px 5px 20px;
}

.sl-editor .renderer-fps {
    padding: 5px 20px 5px 20px;
}

.sl-editor .renderer-full {
    padding: 5px 20px 5px 20px;
}


